* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Arvo', serif;
	font-size: 14px;
	background: url(../imagenes/siteBackground.jpg) repeat;
	color: #4b4b4b;
}
a {
	color: #d03401;
	text-decoration: none;
}
p {
	line-height: 140%;
	color: #ffffff;
}
h2 {
	font-size: 30px;
	color: #d03401;
	padding: 0 0 10px 0;
}
h3 {
	font-size: 18px;
	color: #d03401;
	padding: 0 0 10px 0;
}
h4 {
	color: #ffffff;
	font-size: 18px;
}
.agrupar {
	width: 960px;
	margin: 0 auto;
}
.logoagrupar {
	float: left;
}
header h1 {
	padding: 25px 0 0 0;
	font-family: 'Abel', sans-serif;
}
header h1 a {
	font-size: 42px;
	color: #ffffff;
	text-decoration: none;
}
header h1 a span {
	font-size: 42px;
	color: #d03401;
	text-decoration: none;
}
header ul {
	float: right;
	padding: 50px 0 0 0;
}
header ul li {
	list-style: none;
	display: inline;
	padding: 0 20px;
}
.articulosuperior {
	padding: 30px 0;
}
.articulomedio {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #101010;
	padding: 30px;
	line-height: 140%;
}
.articulomedio .picImg {
	float: right;
	margin: 0 0 20px 30px;
}

.imgimportada {
	align: right;
	width: 312px;
	height: 160px;
	border: 2px;
	border-color: white;
}
.articulomedio .picagrupar {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
}
.articulomedio img {
	border: 1px solid #101010;
}
button {
	text-transform: uppercase;
	background: url(../imagenes/buttonBackground.jpg) repeat-x;
	color: #fff;
	border: 0;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
	font-family: 'Arvo', serif;
}
.sidebar {
	float: right;
	width: 370px;
	padding: 20px 0 20px 0;
}
.articulocentral {
	margin: 0 415px 0 0;
	padding: 20px 0 20px 0;
}
.sidebar p {
	width: 370px;
	padding-bottom: 30px;
}
.sidebar ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
.sidebarlist a {
	display: block;
	width: 360px;
	color: #4b4b4b;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #101010;
	list-style: none outside none;
	padding: 10px 0 10px 10px;
	margin: 0 0 1px 0;
}
.sidebarlist a:link, .sidebarlist a:visited {
	color: #4b4b4b;
	text-decoration: none;
}
.sidebarlist a:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	border: 1px solid #101010;
	color: #6a6a6a;
	padding: 10px 0 10px 10px;
}
footer {
	border-top: 1px solid #171717;
	background: #000000;
}
footer p {
	text-align: center;
	padding: 20px;
}
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.menu ul {
	padding: 20px 0;
	margin: 0;
	list-style-type: none;
	background: url(../imagenes/menuBackground.jpg) repeat-x;
	color: #FFF;
	width: 960px;
	text-align: left;
	box-shadow: 0px 6px 7px 0px #0e0e0e;
}
.menu li {
	display: inline;
}
.menu li a {
	text-decoration: none;
	color: #4b4b4b;
	padding: 20px 30px;
	text-shadow: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.menu li a:hover {
	background: url(../imagenes/activeMenu.jpg) repeat-x;
	color: #fff;
}
.menu #actual a {
	background: url(../imagenes/activeMenu.jpg) repeat-x;
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

/*Pagina de inscripcion*/
.formulario h2 {
	background: none repeat scroll 0 0 #A9A9A9;
	color: #FF3300;
	display: block;
	font-family: calibri;
	font-size: 20px;
	padding: 5px;
	text-shadow: 1px 1px 1px #CCCCCC;
	width: 490px;
}
.formulario ul {
	width: 500px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.formulario li {
	padding: 12px;
	border-bottom: 1px solid #eee;
}
.formulario label {
	color: #555555;
	display: inline-block;
	float: left;
	font-family: calibri;
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
	padding: 3px;
	width: 90px;
}
.formulario input {
	height: 20px;
	width: 220px;
	padding: 5px 8px;
}
.formulario texarea {
	padding: 8px;
	width: 300px;
}
.formulario button {
	margin-left: 90px;
}
.formulario input, .formulario texarea {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 10px #eee inset;
	border-radius: 2px;
	color: #003366;
	padding-right: 30px;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}
.formulario input:focus, .formulario texarea:focus {
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 3px #aaa;
	padding-right: 80px;
}

#dv {
	height: 20px;
	width: 19px;
	padding: 5px 8px;
}

/*Formularo de contacto*/
.cine {
	float: right;
	height: 230px;
	width: 300px;
	margin: 10px;
}

#btnImprimir{
   margin: 64px 179px 64px;
}


#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    width: 960px;
    margin: 60px auto;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
}

#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}

#menu li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #fafafa;
}

*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
}

#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}

table {
	margin: 10px 0 30px 0;
}

table tr th, table tr td {
	background: url(../imagenes/activeMenu.jpg) repeat-x;
	color: #FFF;
	padding: 7px 4px;
	text-align: left;
}

table tr td {
	background: #222;
	color: #FFF;
	border-top: 1px solid #FFF;
}
